h1 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
h3 {
  font-size: 22px;
  margin: 0;
  text-align: left;
}
#slogan {
  text-align: center;
  font-style: italic;
  font-family: sans-serif;
  color: #696969;
}

#image1 {
  border-radius: 50%;
  width: 4cm;
  height: 4cm;
}
#image2 {
  border-radius: 50%;
  height: 4cm;
  width: 4cm;
}
p {
  color: #696969;
}

.timeline {
  display: flex;
}
