/* images into circles and added border */
img {
  border-radius: 50%;
  border: 8px solid rgb(219, 219, 219);
}

/*centering images */
.row {
  display: flex;
  text-align: center;
}

/*centering images */
.column {
  flex: 33.33%;
  padding: 100px;
  text-align: center;
}

/* font */
body {
  font-family: "Metropolis", sans-serif;
}

h2 {
  font-size: 40px;
  font-family: "Metropolis", sans-serif;
}

h3 {
  color: rgb(124, 124, 124);
  font-family: "Metropolis-RegularItalic", sans-serif;
  font-style: italic;
  font-size: 15px;
}

h4 {
  font-size: 30px;
}

p {
  color: rgb(92, 92, 92);
}
